<section class="row">

	<article class="col-xs-6">
	<%= form_for @post, html: { multipart: true } do |f| %>
		<p>
			<%= f.label :title %>
			<%= f.text_field :title %>
		</p>

		<p>
			<%= f.label :location %>
			<%= f.text_field :location %>
			<%= f.button 'Get Location', type: 'button', id: 'get_location' %>
		</p>

		<p>
			<%= f.label :picture %>
			<%= f.file_field :picture %>
		</p>

		<p>
			<%= f.label :tag_list, 'Tags' %>
			<%= f.text_field :tag_list %>
		</p>

		<p>
			<%= f.submit 'Create Post' %>
		</p>
	<% end %>
	</article>

	<aside class="photo-area-container col-xs-6">
		<article id="photo_area"><span class="glyphicon glyphicon-camera"></span></article>
	</aside>

</section>