<!DOCTYPE html>
<html>
<head>
  <title>Pipster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header class="global-header container">
		<a href="<%= posts_path %>" id="logo"><h1>Pipster</h1></a>

		<ul class="global-nav">
			<li>
				<%= link_to(new_post_path, class: 'new-post') do %>
					<span class="glyphicon glyphicon-camera"></span>
					New Post
				<% end %>
			</li>

			<% if user_signed_in? %>

			<li>
				<%= link_to(destroy_user_session_path, class: 'logout', method: :delete) do %>
					<span class="glyphicon glyphicon-remove-circle"></span>
					Sign Out
				<% end %>
			</li>

			<% else %>

			<li>
				<%= link_to(new_user_registration_path, class: 'new-user') do %>
					<span class="glyphicon glyphicon-heart"></span>
					Sign Up
				<% end %>
			</li>
			<li>
				<%= link_to(user_session_path, class: 'login') do %>
					<span class="glyphicon glyphicon-home"></span>
					Sign In
				<% end %>
			</li>

			<% end %>

		</ul>
	</header>

	<main class="wrapper container">

	<ul class="feedback">
	<% if flash[:notice] %>
		<li class="notice"><%= notice %></li>
	<% end %>
	<% if flash[:alert] %>
		<li class="alert"><%= alert %></li>
	<% end %>
	</ul>


		<%= yield %>

		<section class="load">
			<span class="glyphicon glyphicon-repeat"></span>
		</section>

	</main>

	<footer class="global-footer container">
		Copyright
	</footer>


	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


</body>
</html>
