<!DOCTYPE html>
<html>
<head>
  <title>Pipster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header class="global-header container">
		<a href="<%= posts_path %>" id="logo"><h1>Pipster</h1></a>

		<ul class="global-nav">
			<li>
				<%= link_to(new_post_path, class: 'new-post') do %>
					<span class="glyphicon glyphicon-camera"></span>
					New Post
				<% end %>
			</li>
		</ul>
	</header>

	<main class="wrapper container">

		<%= yield %>

		<section class="load">
			<span class="glyphicon glyphicon-repeat"></span>
		</section>

	</main>

</body>
</html>
