<!DOCTYPE html>
<html>
<head>
  <title>Pipster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header class="global-header container">
		<a href="<%= posts_path %>" id="logo"><h1>Pipster</h1></a>

		<ul class="global-nav">
			<li>
				<%= link_to(new_post_path, class: 'new-post') do %>
					<span class="glyphicon glyphicon-camera"></span>
					New Post
				<% end %>
			</li>
			<li>
				<%= link_to(new_user_registration_path, class: 'new-user') do %>
					<span class="glyphicon glyphicon-heart"></span>
					Sign Up
				<% end %>
			</li>
		</ul>
	</header>

	<main class="wrapper container">

	<!-- <p class="notice"><%= notice %></p> -->
	<!-- <p class="alert"><%= alert %></p> -->


		<%= yield %>

		<section class="load">
			<span class="glyphicon glyphicon-repeat"></span>
		</section>

	</main>


	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


</body>
</html>
